Repository visrm/C-Assignments, pull requests merged in 2022-03, with the labels that each got.

#12 end-of-the-day-updates
  .github/labeler.yml
  README.md
Labels: documentation, repo

#13 ⚡To convert decimal number to new base(binary)
  Decimal-to-binary.c
Labels: enhancement

#14 update main branch
  .github/labeler.yml
  CONTRIBUTING.md
  Part-1/Factorial.c
  Part-1/Leap-year.c
  Part-1/Quadratic_root.c
  Part-1/Sort_num.c
  Part-1/Sum-and-reverse_num.c
Labels: enhancement, part1

#15 Update main branch
  Part-1/Quadratic_root.c
  Part-1/Sort_num.c
  Part-1/count_pos-neg-zero.c
Labels: enhancement, part1, branch update
